/* ------------ BODY ------------ */
body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/images/linhasPrancheta.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* ---------- END BODY ---------- */

/* ------------ LOGIN ------------ */
.loginSection {
  background-color: rgba(255, 255, 255, 0.53);
  width: 50vw;
  box-shadow: 0 0 10px 1px black;
  padding: 15vh;
  position: absolute;
  top: 15vh;
  left: 25vw;
}

.buttonLogin {
  position: absolute;
  bottom: 5vh;
  right: 4vw;
  padding: 2vh 4vw;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid transparent;
  background-color: transparent;
  transition-duration: 1s;
}

.buttonLogin:hover {
  border: 1px solid white;
  background-color: #6fa5a7;
  transition-duration: 1s;
}

.buttonLogin:active {
  border: 1px solid #6fa5a7;
  background-color: white;
  transition-duration: 0s;
}

.formLogin {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.emailLogin,
.passwordLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.emailLogin input,
.passwordLogin input {
  border: none;
  padding: 5px 10px;
  background-color: rgba(111, 165, 167, 0.7);
  color: white;
}

/* ---------- END LOGIN ---------- */

/* ------------ NAVBAR ------------ */
.navbar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#6fa5a7, transparent);
  padding: 25px 25px 60px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  transition-duration: 1s;
}

.navbar__navlinks {
  text-decoration: none;
  color: white;
  padding: 0 10px;
  font-size: 14px;
}

/* ---------- END NAVBAR ---------- */
/* ------------ EDITS ------------ */
.editButton {
  border: 1px solid black;
  box-shadow: 0 0 10px 0px black;
  padding: 10px 30px;
  font-weight: 700;
  text-decoration: none;
  background-color: white;
  color: black;
}
/* ---------- END EDITS ---------- *

/* ------------ HOME ------------ */
.carouselImage {
  height: 90vh;
  margin: auto;
}

/* About Section */
.aboutSection,
.contactsSection,
.booksSection,
.monthlySubjectSection,
.appointmentSection {
  display: flex;
  justify-content: space-between;
  margin-left: 10vw;
  background-color: #6fa5a7;
  box-shadow: 0 0 10px 1px black;
  gap: 50px;
  padding: 40px;
  position: relative;
  bottom: 50px;
  /* border-bottom-left-radius: 10px; */
  border-top-left-radius: 10px;
}

.aboutSectionTwo {
  padding: 0 40px;
}

.photoAbout {
  width: 30vh;
}

.buttonAbout {
  text-align: right;
  margin-top: 50px;
}

.buttonAbout button {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 10px 20px;
  font-weight: 600;
  transition-duration: 0.5s;
}

.buttonAbout button:hover {
  border: 1px solid black;
  box-shadow: 0 0 10px 0px rgb(91, 91, 91);
  transition-duration: 1s;
}

/* Monthly Subject */
.monthlySubjectComponentSection {
  background-image: url("/src/assets/images/temadomes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 97vw;
  margin: auto;
}
/* ---------- END HOME ---------- */
/* ------------ ABOUT ------------ */
.aboutSectionAbout,
.aboutSectionEducation {
  box-shadow: 0 5px 20px -5px black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5vw;
}

.aboutPhoto {
  float: left;
  margin: 5vw;
  border-radius: 10px;
  box-shadow: -4px -4px 30px 1px black;
}

.aboutSectionEducation,
.aboutSectionAbout {
  width: 95vw;
  margin: auto;
  background-color: white;
}

.aboutSectionEducation {
  margin-top: 2vh;
}
/* ------------ END ABOUT ------------ */
/* ------------ BOOKS ------------ */

/* ------------ END BOOKS ------------ */
/* ------------ MONTHLY SUBJECT ------------ */

/* ------------ END MONTHLY SUBJECT ------------ */
/* ------------ APPOINTMENTS ------------ */

/* ------------ END APPOINTMENTS ------------ */
/* ------------ CONTACTS ------------ */
.contactsSectionBox {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 5px 20px -5px black;
  width: 60vw;
  margin: auto;
  padding: 20vh 0;
}
.contactsSectionContacts,
.contactsSectionLinks {
  display: flex;
  justify-content: center;
  width: 40vw;
  margin: auto;
}

.contactsSectionContacts {
  padding-bottom: 5vh;
  text-align: center;
  gap: 100px;
}

.separator {
  width: 15vh;
  margin: auto;
  border: 1px solid black;
}

.contactsSectionLinks {
  margin-top: 5vh;
  gap: 50px;
}

.iconContacts {
  width: 3vw;
}

/* ------------ END CONTACTS ------------ */

/* ------------ FOOTER ------------ */
footer {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  background-color: rgba(4, 4, 4, 0.83);
  color: white;
  padding: 70px 0;
  width: 90vw;
  margin: 40px auto 50px;
  border-top: 2px solid yellow;
  border-bottom: 2px solid yellow;
}

.footerLinks {
  text-decoration: none;
}

.footerLinks p {
  color: white;
}

footer h5 {
  color: #6fa5a7;
}

footer p {
  font-size: 12px;
}

.footerIcons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconSocialMedia {
  width: 3vw;
}

/* ---------- END FOOTER ---------- */

/* ------------ 404 PAGE ------------ */

/* ---------- END 404 PAGE ---------- */

/* colors 
yellow: #fad305
bluish grey: #6FA5A7
*/
