/* ------------ BODY ------------ */
body {
  margin: 0;
  padding: 0;
}

/* ---------- END BODY ---------- */

/* ------------ NAVBAR ------------ */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  padding: 20px;
}

/* ---------- END NAVBAR ---------- */

/* ------------ FOOTER ------------ */
.footer {
  background-color: grey;
  padding: 20px;
}

/* ---------- END FOOTER ---------- */
